<html>
<body>
<br/>
<br/>

<h3 align="center">Coordinates for cartesian Plane are set to {0,0}{5,5}</h3>
<br/>


<div align="center">
    <form action="/form" method="POST">

     <label>&nbsp;&nbsp;  &nbsp;&nbsp;&nbsp;&nbsp; &nbsp; X: <input  type="number" name="commandfirst" placeholder="1" maxlength="1" required></label><br/>
        <label>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp; &nbsp;  Y:  <input  type="number" name="commandsecond" placeholder="2" maxlength="1" required></label><br/>
            <label> Direction:<input  type="text" name="orientation" placeholder="N" maxlength="1" required></label><br/>
                <label> Movement:<input  type="text" name="movement" placeholder="LMLMLMLMM"  required></label><br/>
        <input type="submit" value="Submit">
    </form>
</div>

</body>
</html>